.emptyStateContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
    gap: 80px;
    position: absolute;
    width: 628px;
    height: 639px;
    background: #FFFFFF;
    border-radius: 24px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.emptyStateContainer img{
    width: 200px;
    height: 200px;
}

.emptyStateContainer .description{
    width: 458px;
    font-family: 'Poppins';
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    color: #14142B;
}

/* For Mobile */
@media screen and (max-width: 540px) {
    .emptyStateContainer{
        width: 100%;
        height: auto;
        gap: 24px;
        background-color: transparent;
        padding: 0px;
    }

    .emptyStateContainer img{
        width: 100px;
        height: 100px;
    }

    .emptyStateContainer .description{
        font-size: 24px;
        line-height: 40px;
        width: 320px;
        margin: 0px;
    }
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) and (orientation: portrait) {
    .emptyStateContainer{
        width: 580px;
        height: 591px;
        background-color: transparent;
    }
}
