.formCustom{
    margin-left: 64px;
    margin-right: 64px;
}

.cellChildrens{
    width: auto;
    height: 84px;
    margin-top: 24px;
}
.rowChildrens{
    display: table;
    width: 100%;
}

.leftcellChildrens{
    display: inline-grid;
    width: 47%;
}

.rightcellChildrens{
    display: inline-grid;
    width: 47%;
    float: right;
}

.cellChildrensTextarea{
    display: flex;
    flex-direction: column;
    height: 184px;
    margin: 24px 0px;
}

.cellChildrensLabel{
    font-family: 'Poppins';
    font-size: 15px;
    line-height: 120%;
    display: flex;
    color: #4E4B66;
    margin: 5px 0px;
}

.cellChildrens input{
    width: 100%;
    min-height: 50px;
    border: none;
    background: #EFF0F7;
    border-radius: 10px;
    padding: 0px 10px;
    max-width: -webkit-fill-available;
}

.cellChildrensTextareaLabel{
    font-family: 'Poppins';
    font-size: 15px;
    line-height: 120%;
    color: #4E4B66;
    margin: 16px 0px;
}

.cellChildrensTextarea textarea{
    width: 100%;
    height: 163px;
    background: #EFF0F7;
    border-radius: 10px;
    border: none;
    padding: 0px 10px;
    max-width: -webkit-fill-available;
}

.changedMyMind{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    color: #14142B;
    cursor: pointer;
}

.remainedCharacters{
    font-family: 'Poppins';
    font-size: 10px;
    line-height: 130%;
    color: #6E7191;
    margin: 0px 10px;
    margin-bottom: 10px;
    margin-top: -25px;
}

input.fieldRequiredInput{
    padding: 16px;
    height: 50px;
    background: #FFE5F2 !important;
    border: 2px solid #ED2E7E !important;
    box-sizing: border-box;
    border-radius: 10px;
}

textarea.fieldRequiredInput{
    display: flex;
    padding: 16px;
    height: 130px;
    background: #FFE5F2 !important;
    border: 2px solid #ED2E7E !important;
    box-sizing: border-box;
    border-radius: 10px;
    flex: none;
}

.fieldRequired{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 13px;
    line-height: 22px;
    display: flex;
    letter-spacing: 0.25px;
    color: #98014C;
}

/* For Mobile */
@media screen and (max-width: 540px) {
    .formCustom{
        margin-left: 20px;
        margin-right: 20px;
    }

    .leftcellChildrens{
        width: 100%;
    }
    
    .rightcellChildrens{
        width: 100%;
    }
}