.footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    border: 1px solid #D9DBE9;
    background: #FFFFFF;
    height: 108px;
    align-items:center;
    display: grid;
}

.footerDate{
    position: absolute;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #14142B;
    margin-left: 150px;
}

.footerLogo{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #14142B;
    display: revert;
    text-align: right;
    margin-right: 150px;
}

/* For Mobile */
@media screen and (max-width: 540px) {
    .footer{
        height: 56px;
    }

    .footerDate, .footerLogo{
        font-size: 13px;
    }

    .footerDate{
        margin-left: 20px;
    }

    .footerLogo{
        margin-right: 20px;
    } 
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) and (orientation: portrait) {
    .footerDate, .footerLogo{
        font-size: 20px;
    }

    .footerDate{
        margin-left: 36px;
    }

    .footerLogo{
        margin-right: 36px;
    }
}