.actor_card{
    margin-top: 34px;
    position: static;
    width: 162px;
    min-height: 377px;
    height: auto;
    left: 0px;
    top: 0px;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.1));
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: inline-flex;
}

.actor{
    display: inherit;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 162px;
    height: 377px;
    left: 0px;
    top: 0px;
}

.actor_image{
    background: url("../images/leonardo.png");
    position: static;
    width: 162px;
    height: 173px;
    left: 0px;
    top: 0px;
    border-radius: 10px 10px 0px 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

.actor_info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    position: static;
    width: auto;
    height: 204px;
    left: 0px;
    top: 173px;
    background: #FFFFFF;
    border-radius: 0px 0px 10px 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
}

.actor_name_occupation_likes{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 140px;
    height: 34px;
    left: 10px;
    top: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.actor_name_occupation_likes__occupation_likes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    position: static;
    width: 140px;
    height: 14px;
    left: 0px;
    top: 20px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 4px 0px;
}

.actor_name_occupation_likes__likes{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: static;
    width: 26px;
    height: 14px;
    left: 114px;
    top: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;
}

.actor_name_occupation_likes__likes__icon{
    position: static;
    width: 10px;
    height: 11px;
    left: 16px;
    top: 2px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 2px;
    background: url("../images/like.png");
}

.actor_name_occupation_likes__likes__number{
    position: static;
    width: 14px;
    height: 14px;
    left: 0px;
    top: 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #F4B740;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 2px; 
}

.actor_name_occupation_likes__occupation{
    position: static;
    width: 80px;
    height: 13px;
    left: 0px;
    bottom: 0.5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 120%;
    color: #4E4B66;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.actor_name_occupation_likes__name{
    position: static;
    width: 140px;
    height: 16px;
    left: 0px;
    bottom: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 120%;
    color: #14142B;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 4px 0px;
}

.actor_hobbies{
    display: table;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 140px;
    height: 46px;
    left: 10px;
    top: 52px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 8px 0px;
    margin-top: 16px;
}

.actor_hobbies__item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 8px;
    position: static;
    width: auto;
    height: 21px;
    left: 0px;
    top: 0px;
    background: #E5EBFE;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 120%;
    text-align: center;
    color: #032596;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

.actor_name_description{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: static;
    width: 142px;
    height: 24px;
    left: 10px;
    top: 106px;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.actor_name_description p{
    position: static;
    width: 142px;
    height: 24px;
    left: 0px;
    bottom: 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 120%;
    color: #6E7191;
    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px 2px;
}

.read_more_and_edit{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 142px;
    height: 56px;
    left: 10px;
    top: 138px;
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 8px 0px;
}

.read__more{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: static;
    width: 68px;
    height: 12px;
    left: 0px;
    top: 0px;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 15px;
}

.edit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: static;
    width: 142px;
    height: 28px;
    left: 0px;
    top: 28px;
    border: 1px solid #6308F7;
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .actor_card:nth-child(odd) {
        float: left;
    }
    .actor_card:nth-child(even) {
        float: right;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .actor_card{
        margin-right: 20px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}