.show{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #FFFFFF;
    border-radius: 24px 24px 0px 0px;
    z-index: 100;
}

.hide{
    display: none;
}

.modal_container{
    width: 100%;
    height: 100%;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.add_edit_actor{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1000;
    flex-direction: column;
    align-items: center;
    padding: 25px 20px 32px;
    border-radius: 24px 24px 0px 0px;
}

.add_edit_actor__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: static;
    width: auto;
    height: 580px;
    left: 20px;
    top: 56px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 32px 0px;
}

.form_actor__title{
    position: static;
    left: 23.28%;
    right: 23.28%;
    top: 0%;
    bottom: 93.1%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #14142B;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

.form_actor__fields{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: auto;
    height: 508px;
    left: 0px;
    top: 72px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 32px 0px;
}

.form_actor__row{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 100%;
    height: 84px;
    left: 0px;
    top: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 24px 0px;
}

.form_actor__row label{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 100%;
    height: 18px;
    left: 0px;
    top: 0px;
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    color: #4E4B66;

}

.form_actor__row input{
    width: 100%;
    min-height: 50px;
    border: none;
    background: #EFF0F7;
    border-radius: 10px;
    /* display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    position: static;
    width: 335px;
    height: 50px;
    left: 0px;
    top: 34px;
    background: #EFF0F7;
    border-radius: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 16px 0px;
    border: none; */
}