.selectAllContainer{
    position: absolute;
    height: 32px;
    top: 128px;
}

.selectAllText{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0.75px;
    color: #4E4B66;
    margin: 0px 0px;
    float: left;
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
    .selectAllText{
        font-size: 24px;
    }
}