.actorNameDescription{
    display: table;
    float: left;
    width: auto;
    margin-left: 10px;
}

.description{
    width: 100%;
    font-family: 'Poppins';
    font-weight: 300;
    color: #6E7191;
    margin: 0px 2px;
}

@media screen and (max-width: 376px) {
    .description{
        font-size: 10px;
    }
}
@media screen and (min-width: 376px) and (max-width: 1024px) {
    .actorNameDescription{
        width: 95%;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .description{
        font-size: 16px;
    }
}

@media screen and (min-width: 1025px) {

    .description{
        font-size: 21px;
        line-height: 25.2px;
        margin-bottom: 15px;
    }
}