.actorNameOccupationLikes{
    padding: 10px;
}

.occupationLikes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin: -5px 0px;
}

.likes{
    display: flex;
    height: auto;
    order: 1;
}

.likesIcon{
    flex: none;
    order: 1;
    background: url("../../images/like.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 2px;
}

.likesNumber{
    font-family: 'Poppins';
    font-weight: 600;
    display: flex;
    align-items: center;
    color: #F4B740;
    margin: 0px 2px; 
}

.occupation{
    height: auto;
    font-family: 'Poppins';
    color: #4E4B66;
}

.actor_name_occupation_likes__name{
    font-family: 'Poppins';
    font-weight: 600;
    color: #14142B;
    margin: 4px 0px;
}

@media screen and (max-width: 375px) {
    .likesIcon{
        width: 10px;
        height: 11px;
    }

    .actor_name_occupation_likes__name{
        font-size: 13px;
    }

    .likesNumber{
        font-size: 11px;
    }

    .occupation{
        font-size: 11px;
    }
}

@media screen and (min-width: 376px) and (max-width: 1024px) {
    .actorNameOccupationLikes{
        width: 93%;
    }

    .actor_name_occupation_likes__name{
        font-size: 20px;
    }

    .occupationLikes{
        font-size: 16px;
    }

    .occupation{
        font-size: 16px;
    }

    .likesNumber{
        font-size: 16px;
    }

    .likesIcon{
        width: 14px;
        height: 14px;
    }
}

@media screen and (min-width: 1025px) {
    .actorNameOccupationLikes{
        width: 93%;
        margin-bottom: 15px;
    }

    .actor_name_occupation_likes__name{
        font-size: 26px;
    }

    .occupationLikes, .likesNumber{
        font-size: 23px;
    }

    .occupation{
        font-size: 23px;
    }

    .likesIcon{
        width: 16px;
        height: 17px;
        margin-top: 5px;
    }
}