.actorNameDescription{
    display: table;
    float: left;
    width: auto;
    margin-left: 10px;
}

.description{
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 10px;
    line-height: 120%;
    color: #6E7191;
    margin: 0px 2px;
}

@media screen and (min-width: 376px) and (max-width: 1024px) {
    .actorNameDescription{
        width: 95%;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .description{
        width: 100%;
        font-weight: 300;
        font-size: 16px;
        line-height: 120%;
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 1025px) {
    .actorNameDescription{
        width: 95%;
        padding-top: 70px;
    padding-bottom: 30px;
    }

    .description{
        width: 100%;
        font-weight: 300;
        font-size: 21px;
        line-height: 25.2px;
        margin-bottom: 15px;
    }
}