.listOfActors{
    margin-bottom: 34px;
    display: inline-block;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 120px;
    min-width: 335px;
}

.evenCard{
    display: inline;
    float: left;
    height: auto;
}

.oddCard{
    height: auto;
    display: inline;
    float: right;
}

@media screen and (max-width: 375px) {
    .evenCard, .oddCard{
       width: 48%;
    }
}

@media screen and (min-width: 376px) and (max-width: 1024px) {

    .evenCard{
        margin-right: 2.33%;
        width: 31%;
    }
    
    .oddCard{
        margin-right: 2.33%;
        width: 31%;
        float: left;
    }
}

@media screen and (min-width: 1025px) {
    .evenCard{
        margin-right: 2%;
        width: 23%;
        margin-top: 40px;
    }
    
    .oddCard{
        margin-right: 2%;
        width: 23%;
        float: left;
        margin-top: 40px;
    }
}