.listOfActors{
    width: 100%;
    padding-top: 120px;
    display: table;
    margin-bottom: 150px;
}

.mobileFilter{
    padding: 45px;
}

.evenCard{
    display: inline;
    float: left;
    height: auto;
}

.oddCard{
    height: auto;
    display: inline;
    float: right;
}

.desktopFilter{
    background: #EFF0F7;
    height: 100px;
    margin-top: -20px;
    padding-left: 97px;
    padding-right: 97px;
}

.containerActors{
    padding-left: 82px;
    padding-right: 82px;
}

.cardActor{
    display: inline;
    float: left;
    width: 25%;
}

.cardActorItem{
    padding-left: 15px;
    padding-right: 15px;
}

.editBtnContainer{
    width: 100%;
    display: inline-block;
}

/* For Mobile */
@media screen and (max-width: 540px) {
    .mobileFilter{
        padding: 0px 15px;
    }

    .containerActors{
        padding-left: 20px;
        padding-right: 10px;
        display: contents;
    }

    .cardActor{
        width: 50%;
    }
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
    .containerActors{
        padding-left: 30px;
        padding-right: 30px;
    }

    .cardActor{
        width: 33%;
    }
}







/* @media screen and (max-width: 376px) {
    .evenCard, .oddCard{
       width: 48%;
    }
}

@media screen and (min-width: 376px) and (max-width: 1024px) {

    .evenCard{
        margin-right: 2.33%;
        width: 31%;
    }
    
    .oddCard{
        margin-right: 2.33%;
        width: 31%;
        float: left;
    }
    .listOfActors{
        width: 94%;
    }
}

@media screen and (min-width: 1025px) {
    .evenCard{
        margin-right: 2%;
        width: 23%;
        margin-top: 40px;
    }
    
    .oddCard{
        margin-right: 2%;
        width: 23%;
        float: left;
        margin-top: 40px;
    }

    .listOfActors{
        width: 97%;
    }
} */