.listOfActors{
    width: 100%;
    padding-top: 120px;
    display: table;
}

.mobileFilter{
    padding: 45px;
}

.evenCard{
    display: inline;
    float: left;
    height: auto;
}

.oddCard{
    height: auto;
    display: inline;
    float: right;
}

.desktopFilter{
    background: #EFF0F7;
    height: 100px;
    margin-top: -20px;
    padding-left: 97px;
    padding-right: 97px;
}

.containerActors{
    padding-left: 97px;
    padding-right: 97px;
}

.cardActor{
    width: auto;
    display: inline;
    float: left;
    width: 25%;
}

/* For Mobile */
@media screen and (max-width: 540px) {
    .listOfActors{
        margin-left: 20px;
        margin-right: 20px;
    }

    .mobileFilter{
        padding: 0px;
    }
}







/* @media screen and (max-width: 376px) {
    .evenCard, .oddCard{
       width: 48%;
    }
}

@media screen and (min-width: 376px) and (max-width: 1024px) {

    .evenCard{
        margin-right: 2.33%;
        width: 31%;
    }
    
    .oddCard{
        margin-right: 2.33%;
        width: 31%;
        float: left;
    }
    .listOfActors{
        width: 94%;
    }
}

@media screen and (min-width: 1025px) {
    .evenCard{
        margin-right: 2%;
        width: 23%;
        margin-top: 40px;
    }
    
    .oddCard{
        margin-right: 2%;
        width: 23%;
        float: left;
        margin-top: 40px;
    }

    .listOfActors{
        width: 97%;
    }
} */