.btnSort{
    width: 160px;
    height: 37px;
    background: #EEE5FE;
    border: 1px solid #6308F7;
    border-radius: 10px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}

.btnSelect{
    width: 160px;
    height: 37px;
    background: #EEE5FE;
    border: 1px solid #6308F7;
    border-radius: 10px;
    float: right;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}

.presentationBoxButton .btnSelect{
    float: left;
}
 
.btnAddNewActor{
    width: 335px;
    height: 56px;
    float: left;
    bottom: 88px;
    background: #6308F7;
    border-radius: 12px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 15px;
    color: #FCFCFC;
    border: none;
    cursor: pointer;
    margin-bottom: 100px;
    margin-left: 20px;
    line-height: 56px;
}

.setMargin.btnAddNewActor{
    margin-bottom: 20px;
    margin-left: 0px;;
}

.btnAddNewActor.resizeWidth{
    width: 50%;
}

.btnReadMore, .btnReadLess{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 10px;
    line-height: 120%;
    color: #F4B740;
    border: none;
    background-color: transparent;
    padding: 0px;
    cursor: pointer;
    margin-left: 2px;
}

.btnReadMore::after{
    content: url(../../images/arrow_d.png);
    margin-left: 5px;
}

.btnReadLess::after{
    content: url(../../images/arrow_u.png);
    margin-left: 5px;
}

.btnEdit{
    width: 142px;
    height: 28px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 10px;
    color: #6308F7;
    margin: 10px 10px;
    border: 1px solid #6308F7;
    border-radius: 8px;
    background: transparent;
    cursor: pointer;

}

.btnEdit::after{
    content: url(../../images/paint.png);
    position: relative;
    left: 5px;
}

.removeActor{
    display: flex;
    padding: 4px;
    position: absolute;
    left: 125px;
    content: url(../../images/remove_actor.png);
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.chooseActor{
    display: flex;
    padding: 4px;
    position: absolute;
    width: 35px;
    height: 35px;
    left: 125px;
    content: url(../../images/empty_choose.png);
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.isChooseActor{
    display: flex;
    padding: 4px;
    position: absolute;
    width: 35px;
    height: 35px;
    left: 125px;
    content: url(../../images/is_choose_actor.png);
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.closeModal{
    content: url(../../images/close_popup.png);
    width: 35px;
    height: 30px;
    border: none;
    background: transparent;
    display: flex;
    right: 0px;
    position: absolute;
    margin-top: 20px;
    margin-right: 15px;
    cursor: pointer;
}

.btnSortAscending{
    justify-content: center;
    width: 335px;
    height: 56px;
    border: 2px solid #6308F7;
    border-radius: 12px;
    margin: 24px 0px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.75px;
    color: #6308F7;
    cursor: pointer;
    margin-bottom: 0px;
}

.btnSortAscending::before{
    content: url(../../images/arrow_up.png);
    height: 24px;
    width: 24px;
    margin-right: 10px;
}

.btnSortDescending{
    justify-content: center;
    width: 335px;
    height: 56px;
    border: 2px solid #6308F7;
    border-radius: 12px;
    margin: 24px 0px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.75px;
    color: #6308F7;
    cursor: pointer;
}

.btnSortDescending::before{
    content: url(../../images/arrow_down.png);
    height: 24px;
    width: 24px;
    margin-right: 10px;
}

.btnDelete{
    justify-content: center;
    width: 335px;
    height: 56px;
    border: 2px solid #6308F7;
    border-radius: 12px;
    margin: 24px 0px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.75px;
    color: #6308F7;
    cursor: pointer;
    opacity: 0.2;
}

.btnDeleteOpacity{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    position: static;
    width: 335px;
    height: 56px;
    left: 0px;
    top: 0px;
    border: 2px solid #6308F7;
    box-sizing: border-box;
    border-radius: 12px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 24px 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.75px;
    color: #6308F7;
    cursor: pointer;
    opacity: 1;
}

.btnDelete::before{
    content: url(../../images/delete.png);
    height: 24px;
    width: 24px;
    margin-right: 10px;
}

.btnDelete.set_margin_top{
    margin-top: 100px;
}

.btnDeleteOpacity.set_margin_top{
    margin-top: 100px;
}

.btnDelete.opacity{
    opacity: 1;
}

.alertCloseSuccess, .alertCloseWarning, .alertCloseDanger{
    /* position: absolute; */
    width: 24px;
    right: 24px;
    top: 33.33%;
    bottom: 33.33%;
    float: right;
    cursor: pointer;
    border: none;
    background-color: transparent;
    /* opacity: 0.5; */
}

.alertCloseSuccess::after{
    content: url(../../images/alert_close_success.png);
}

.alertCloseWarning::after{
    content: url(../../images/alert_close_warning.png);
}

.alertCloseDanger::after{
    content: url(../../images/alert_close_danger.png);
}

.selectAll{
    display: flex;
    flex-direction: column;
    padding: 4px;
    position: initial;
    width: 35px;
    height: 35px;
    left: 125px;
    content: url(../../images/selectall.png);
    z-index: 100;
    border: none;
    background-color: transparent;
    cursor: pointer;
    float: right;
}

.selectAllSelected{
    display: flex;
    padding: 4px;
    width: 35px;
    height: 35px;
    left: 125px;
    content: url(../../images/selectall_selected.png);
    border: none;
    background-color: transparent;
    cursor: pointer;
}

@media screen and (max-width: 375px) {
    .removeActor{
        width: 40px;
        height: 40px;
    }
}

@media screen and (min-width: 376px) and (max-width: 1024px) {
    .btnSort{
        height: 52px;
        width: 441px;
        font-size: 27px;
        line-height: 120%;
    }

    .btnSelect{
        height: 52px;
        width: 441px;
        font-size: 27px;
        line-height: 120%;
    }

    .removeActor{
        width: 52px;
        height: 52px;
        left: 80%;
        top: 1%;
    }

    .btnReadMore{
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
    }

    .btnReadLess{
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
    }

    .btnEdit{
        width: 92%;
        font-size: 16px;
        line-height: 120%;
        height: 35px;
    }

    .btnAddNewActor{
        margin-bottom: 150px;
        margin-left: 35%;
    }

    .centerButton .setMargin.btnAddNewActor{
        margin-left: 25%;
    }
}

@media screen and (min-width: 1025px) {
    .removeActor{
        width: 52px;
        height: 52px;
        left: 85%;
        top: 1%;
    }

    .btnSort{
        height: 52px;
        width: 441px;
        font-size: 27px;
        line-height: 120%;
    }

    .btnSelect{
        height: 52px;
        width: 441px;
        font-size: 27px;
        line-height: 120%;
    }

    .btnReadMore{
        font-weight: 600;
        font-size: 21px;
        line-height: 120%;
    }

    .btnReadLess{
        font-weight: 600;
        font-size: 21px;
        line-height: 120%;
    }

    .btnEdit{
        width: 94%;
        font-size: 16px;
        line-height: 120%;
        height: 45px;
    }

    .btnAddNewActor{
        margin-bottom: 150px;
        margin-left: 39%;
    }
}