.footer{
    position: fixed;
    min-width: 100%;
    bottom: 0px;
    border: 1px solid #D9DBE9;
    background: #FFFFFF;
}

.footerDate{
    position: absolute;
    left: 20px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 13px;
    color: #14142B;
    top: 20px;
}

.footerLogo{
    position: relative;
    margin-right: 20px;
    width: auto;
    height: 16px;
    float: right;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 120%;
    color: #14142B;
    top: 20px;
}

@media screen and (max-width: 375px) {
    .footer{
        height: 56px;
    }

    .footerDate{
        top: 20px;
    }
    .footerLogo{
        top: 20px;
    }
}

@media screen and (min-width: 376px) and (max-width: 1024px) {
    .footer{
        height: 108px;
    }
    .footerDate{
        top: 42px;
        font-size: 20px;
        line-height: 24px;
    }
    .footerLogo{
        top: 42px;
        font-size: 20px;
        line-height: 24px;
    }
}

@media screen and (min-width: 1025px) {
    .footer{
        height: 108px;
    }
    .footerDate{
        top: 42px;
        font-size: 20px;
        line-height: 24px;
    }
    .footerLogo{
        top: 42px;
        font-size: 20px;
        line-height: 24px;
    }
}